html, body {
    background: #000 url("grunge-bg.jpg") fixed no-repeat center/cover;
    color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}
/*main menu style*/
#main-menu{
    margin-bottom:0;
}
#main-menu.navbar-default .navbar-brand {

}
#main-menu.navbar-default {
    font-size: 20px;
    background-color: rgba(248, 248, 248, 0);
    border-width: 0px;
    border-radius: 0px;
}
#main-menu.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Metal Mania', cursive;
    font-size: 1.5em;
}

#main-menu.navbar-default .navbar-nav>li>a:hover,
#main-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(199, 34, 34, 1);
}
#main-menu.navbar-default .navbar-nav>.active>a,
#main-menu.navbar-default .navbar-nav>.active>a:hover,
#main-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(199, 34, 34, 1);
    background-color: rgba(231, 231, 231, 0);
}
#main-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#main-menu.navbar-default .navbar-toggle:hover,
#main-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#main-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#main-menu.navbar-default .navbar-toggle:hover .icon-bar,
#main-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}
.menu{
    margin-top:1em;
}
.main{
    border-top:1px solid darkred;
    border-bottom:1px solid darkred;
}
.main-img{
    background: #000;
}
.main .gigs {
    background: #222 none repeat scroll 0 0;
    display: table;
    padding: 1em 2em 3em;
}
.main .gigs h1 {
    color: darkred;
    font-family: 'Metal Mania', cursive;
    font-weight: bolder;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.gigs hr {
    margin: 0.5em 0;
}
.main-txt {
    border-bottom: 1px solid #999;
    color: #ccc;
    font-size: 0.8em;
    line-height: 0.5em;
    padding: 1em 0;
}
.main-txt h4 {
    color: #fff;
    margin-top: 0;
}
.main-txt span {
    color: #fff;
}
.main-txt a {
    color: #ccc;
    display: inline-block;
    font-size: 2em;
    padding: 0 0.2em;
}
.main-txt a:hover {
    color: darkred;
}
.content{
    margin:1em 0;
}
.content p{
    text-align: justify;
}
.content img{
    margin-bottom:1em;
}
.news{
    border:1px solid darkred;
    padding:1em;
}
.news h2{
    font-family: 'Metal Mania', cursive;
    margin:0;
    text-align: center;
}
.promo{
    margin:1em 0;
}
footer{
    border-top:1px solid darkred;
    margin-top: 2em;
    padding:1em;
}